#page_content{
    display:grid;
    grid-template-columns:  75% 25%;
    color:white;
}
#body p{
    text-align: justify;
}
#description{text-align: justify;}

#screenshots_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
}
#screenshots_grid img{
    width:100%;
}
.requirement_table, .requirement_table td{
    border:solid red 2px;
    width: 100%;
}