body{
    background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/960090/page_bg_generated_v6b.jpg?t=1547157302"); 
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-color:#1B2838;
    font-family: sans-serif;
    margin:0;
}
#header_block{
    display:grid;
    grid-template-columns: 400px 1fr;
}
#header_block_droite p{
    color:white;
    display: inline-block;
    margin-right: 0.5rem;
}
#header_block_droite{
    margin-left:1rem;
}
.container{
    margin:0 auto;
    width:65%;
}
.game_image_own_page{
    /* max-width: 25%; */
    width: 100%;
    filter: drop-shadow(0px 0px 7px #2c63a3);
}
.game_plateform_inline_block{
    display:inline-block;
    /* margin-top:-5px; */
}
.paragraph_game_header, .headline_game_title{
    /* text-align:center; */
    color:white;
}
.paragraph_game_header{
    /* padding-top:25px; */
}
.headline_game_title{
    /* padding-top:2%; */
    margin:0 ;
    font-size: max(3.5vw,30px);
}