form {
    color: rgba(255, 255, 255, 0.7);
}

#search {
    padding: 32px 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: 16px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #1B2838;
    border: 0;

    color: rgba(255, 255, 255, 0.7);
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #1B2838;
    border: 0;
    color: rgba(255, 255, 255, 0.7);
}

button {
    padding: 16px;
    background: #1B2838;
    color: rgba(255, 255, 255, 0.7);
    border: 0;
    margin-top: 16px;
    border-radius: 4px;
}

#fuzzy_search {
    padding: 4px 0;;
    
}

#fuzzy_search a {
    color: rgba(255, 255, 255, 0.7);
}

#pagination a {
    display: inline-block;
    padding: 16px;
    background: #1B2838;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border-radius: 4px;
}

#toggle_advanced_search {
    display: inline-block;
    padding: 16px;
    background: #1B2838;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border-radius: 4px;
}