form {
    color: rgba(255, 255, 255, 0.7);
}

#search {
    padding: 32px 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: 16px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #1B2838;
    border: 0;

    color: rgba(255, 255, 255, 0.7);
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #1B2838;
    border: 0;
    color: rgba(255, 255, 255, 0.7);
}

button {
    padding: 16px;
    background: #1B2838;
    color: rgba(255, 255, 255, 0.7);
    border: 0;
    border-radius: 4px;
}

#fuzzy_search {
    transition-property: all;
    transition-duration: 0.2s;
    padding: 4px 0;
    margin-top:5px;
    padding-left:15px;
    position:absolute;
    background-color: #323E4C;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-width: 1fr;
    opacity: 0;
}

#fuzzy_search a {
    color: rgba(255, 255, 255, 0.7);
}

#menu a {
    display: inline-block;
    padding: 16px;
    background: #1B2838;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border-radius: 4px;
    margin-right: 8px;
}

#advanced_search{
    padding-top:100px;
}

#toggle_advanced_search {
    display: inline-block;
    padding: 16px;
    background: #1B2838;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border-radius: 4px;
}

#reset_filters {
    display: inline-block;
    padding: 16px;
    background: #1B2838;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 4px;
}

#recherche {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 8px;
}

#toggle_display,
#pagination {
    display: inline-block;
}